{% if site.certifications %}
	<div id="coursesBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Certifications</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="courseraPanel">
				{% for course in site.certifications %}
				<div class="row">
					{% if course.organization %}
						<div class="col-sm-5">
							<strong>{{course.organization}}</strong>
						</div>
					{% endif %}
					<div class="col-sm-6">
						<a target='_blank' href="{{course.link}}">
							{{course.title}}
						</a><br/>
						<i>{{course.date}}</i>
					</div>
				</div><br/>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
